.ourdomain {
  /* background: #f5f7fa; */

  background: rgba(255, 255, 255, 1);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1),
    rgba(214, 216, 255, 0.36)
  );
  width: 100%;
  padding: 2rem 0;
}
.ourdomain > h1 {
  font-size: min(3rem, 10vw);
  font-weight: 1000;
}

.ourdomain > p {
  max-width: 90rem;
  margin: auto;
  font-size: min(1.2rem, 4.5vw);
  text-align: center;
  font-style: italic;
  padding: 1rem 2rem; /* top right bottom left */
}

.scroller/* .container   */ {
  max-width: 90rem;
  margin: auto;
  pointer-events: none;
  padding: 2rem 3rem;
  /* background-color: rgb(157, 108, 43); */
}

.scroller__inner {
  /* padding: 3rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* background-color: rgb(98, 255, 0); */
}

/* ...existing code... */
.scroller__inner > img {
  height: 9rem;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
/* ...existing code... */

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 90s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroller[data-animated="false"] .scroller__inner {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .ourdomain {
    padding: 1rem 0;
  }
  .ourdomain > p {
    line-height: 1.5rem;
  }
  .scroller {
    padding: 0 3rem;
  }
  .scroller__inner > img {
    height: 6rem;
  }
  .scroller__inner {
    gap: 0.5rem;
  }
  .scroller[data-speed="slow"] {
    --_animation-duration: 30s;
  }
  .scroller[data-direction="left"] {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .scroller[data-direction="right"] {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
}
