.event-section {
  width: 100%;
  background-image: linear-gradient(180deg, #f5f7fa 0%, #d1e0ff 70%);
}

.event-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-section-inner > h1 {
  padding: 1rem 2rem 0 2rem; /* top right bottom left */

  color: #1a237e;
  text-align: center;
  font-size: min(3rem, 11.5vw);
  font-weight: 900;

  word-spacing: 10px;
}

.event-section-inner > p {
  width: 100%;
  font-size: min(1.3rem, 5vw);
  font-weight: 600;
  text-align: center;
  padding: 0.8rem 2rem 2rem 2rem;
}

.event-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 2rem 1.2rem;
}

.toggle-wrapper {
  margin-left: 8rem;
  display: flex;
  justify-content: center;
  display: inline-flex;
  border: 2px solid #d1d5db;
  border-radius: 9999px;
  background-color: #f9fafb;
  overflow: hidden;
  padding: 2px; /* Ensure inner buttons aren't flush to edge */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  align-self: flex-start;
}

.toggle-button {
  flex: 1;
  padding: 10px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 9999px;
  white-space: nowrap; /* <-- This is the key addition */
}

.toggle-button.active {
  background-color: rgba(93, 0, 255, 0.848);
  color: #fff;
}

.toggle-button:not(.active):hover {
  background-color: #e5e7eb;
}

@media screen and (max-width: 768px) {
  .toggle-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  .toggle-wrapper {
    margin-left: 10vw;
  }
  .event-container {
    padding-left: 0;
    padding-right: 0;
  }
  .event-section-inner > h1 {
    word-spacing: 15px;
    font-weight: 750;
  }
  .event-section-inner > p {
    text-align: justify;
  }
}
