.about-section {
  width: 100%;
  background: linear-gradient(
    15deg,
    rgba(214, 216, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(214, 216, 255, 1) 100%
  );
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 3rem;
  box-sizing: border-box;
  min-height: 80vh;
  gap: 2rem;
}

.about {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about > h1 {
  font-size: 3rem;
  font-weight: 750;
  color: #1a237e;
  text-align: justify;
  letter-spacing: 3px;

  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about > p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.about > button {
  padding: 0.5rem 1rem;
  width: 9rem;
  /* background-color: rgba(89, 0, 255, 1); */
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;

  background: linear-gradient(to right, #1a237e 0%, #802cff 50%, #1a237e 100%);
  background-size: 300%;
  animation: animate-gradient 7s linear infinite;
}

.about-img {
  height: 380px;
  width: 380px;
  border-radius: 1.5rem;
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  aspect-ratio: 1 / 1;
  box-shadow: 0 4px 24px rgba(64, 133, 253, 0.15);
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
  }
  .about h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  .about > p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .about-img {
    height: max(300px, 40vw);
    width: max(300px, 40vw);
  }
  .about > button {
    padding: 0.5rem 1rem;
    width: 9rem;
    background-color: rgba(89, 0, 255, 1);
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(89, 0, 255, 0.6);
  }
}
