.cube-img-container > .swiper {
  width: 100%;
  height: 100%;
}


.cube-img-container > .swiper > .swiper-wrapper > .swiper-slide {
  /* background-color: #e9e9fd; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.cube-img-container > .swiper > .swiper-wrapper {
  border-radius: 1.5rem;
}

.cube-img-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.image-div {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 24px rgba(90, 1, 245, 0.142);
  border-radius: 1.5rem;
}

.image-div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.cube-img-container > .mySwiper {
  width: 100%;
  height: 100%;
}

.cube-img-container .mySwiper .swiper-pagination-bullet-active {
  background: #5d00ffdb; /* Your custom active color */
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .image-div,
  .cube-img-container > .swiper > .swiper-wrapper > .swiper-slide.swiper-slide {
    border-radius: 1rem;
    background-color: transparent;
  }
}
