.team-section {
  width: 100%;
  background-image: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 60%);
}
.team-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-section-inner > h1 {
  padding: 2rem 2rem 0 2rem; /* top right bottom left */
  color: #1a237e;
  text-align: center;
  font-size: min(3rem, 10vw);
  /* font-size: min(1.2rem, 5vw); */
  font-weight: 900;
}
.team-section-inner > p {
  width: 100%;
  font-weight: 600;
  font-size: min(1.3rem, 5vw);
  text-align: center;
  padding: 1rem 3rem;
  letter-spacing: 0.8px;
}

.react-dropdown-select-input {
  /* useless */
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
}

.dropdown,
.dropdown .react-dropdown-select,
.dropdown .react-dropdown-select-dropdown {
  /* position: fixed; */
  width: 6rem;
  z-index: 1000 !important;
}

.react-dropdown-select {
  width: 6rem !important;
  background-color: rgb(52, 52, 255);
  color: white;
  border-radius: 10px !important;
}

.react-dropdown-select-content {
  padding-left: 1rem !important;
}

.react-dropdown-select-dropdown {
  color: black;
  border-radius: 10px !important;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 6rem;
  width: 90%;
  padding-left: 5rem;
  padding-right: 1.2rem;
}
.dropdown-container > span {
  margin-left: 2rem;
  font-size: larger;
  font-weight: 900;
}

.team-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 1.2rem;
}
@media screen and (max-width: 768px) {
  .team-section-inner > p {
    text-align: justify;
    padding: 1rem 7vw;
  }
  .dropdown-container {
    height: 4rem;
  }
  .team-container {
    width: 100%;
  }
  .dropdown-container {
    width: 100%;
    padding: 0px;
    padding-left: 1rem;
  }
}
