:root {
  --bgcolor1: rgba(214, 216, 255, 1);
  --bgcolor2: none;
  --bgcolor3: rgba(215, 216, 255, 1);
}

/* logo :- */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.logo > img:first-child {
  height: 4rem;
  width: auto;
}
.logo > img:last-child {
  height: 2.7rem;

  width: auto;
}
.logo > span {
  color: black;
  font-weight: 700;
}
/* ------ */

li {
  list-style: none;
}
.nav-NavLinks > li > a {
  color: black;
  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #6881ff;
    color: #ffffff;
  }
}

header {
  /* background-color: var(--bgcolor1); */
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;

  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  background-color: var(--bgcolor1);
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

header.scrolled {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.container {
  max-width: 90rem;
  margin: auto;
  /* background-color: red; */
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  /* background-color: aqua; */
  height: 5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.nav-NavLinks > li > a {
  padding: 0.5rem 1.2rem;
}

.hem-menu {
  display: none;
}

.hem-menu > button {
  -webkit-tap-highlight-color: transparent; /* Removes grey tap highlight on iOS/Android */
  outline: none; /* Removes blue outline on tap */
  background: none; /* Ensures no background flash */
  box-shadow: none;
}

.active-link {
  background-color: blue;
  color: #ffffff !important;
  /* text-decoration: underline; */
}

/* media query */
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 1rem;
  }
  .logo > img {
    height: 3rem;
  }
  header {
    height: 4rem;
  }
  .content {
    height: 4rem;
  }
  .hem-menu {
    display: inline-block;
    text-align: end;
  }
  .hem-menu > button {
    border: none;
    color: black;
    background-color: var(--bgcolor2);
    font-size: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    /* background-color: red; */
    background-color: var(--bgcolor1);
    width: 15rem;
    height: 20rem;
    position: fixed;
    top: 4rem;
    right: 0;
    border: 1.5px solid blue;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px -10px;
  }
  .mobile-nav > ul {
    height: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header.active-nav {
    background-color: var(--bgcolor1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
}
