.footer {
  background-color: #1f2937;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-grid {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  padding: 2rem 1rem;
  /* gap: 1rem; */
}

.footer-heading {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}
.footer-heading > span {
  font-size: 1.3rem;
  font-weight: bold;
  /* padding-bottom: 1rem; */
  color: white;
}

.footer-heading > li > a > svg {
  padding-top: 0.3rem;
  transition: all 0.3s ease;
  /* color: aqua; */
  &:hover {
    transform: scale(1.2);
  }
}

.footer-contact,
.footer-social {
  color: #d1d5db;
  align-content: center;
}
.footer-contact > .footer-heading {
  padding: 0.5rem 0;
}
.footer-social > .footer-heading {
  padding-bottom: 1rem;
  text-align: center;
}
.footer-social {
  justify-items: center;
  align-content: center;
}
.footer-contact {
  justify-items: start;
}

.footer-social > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding-bottom: 1rem;
}
.footer-text {
  color: #d1d5db;
  /* margin-bottom: 0.7rem; */
  font-size: 1.2rem;
}

.social-icon {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.social-icon > li > a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: #354051;
  }
}

.icon {
  font-size: 1.1rem;
}

.linkedin {
  color: #77b7ff;
}

.twitter {
  color: #38bdf8;
}

.instagram {
  color: #ff53dade;
}

.github {
  color: #99ddffac;
}

._Email {
  color: #c869fff0;
}
._location {
  color: aqua;
}

.social-link {
  color: #d1d5db;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-bottom {
  border-top: 1px solid #4b5563;
  padding: 0.7rem;
  text-align: center;
  /* margin-top: 1rem; */
  color: #d1d5db;
  font-size: 1.1rem;
  width: 90%;
}

/* Mobile optimization */
@media screen and (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1rem 0 1rem;
    /* padding-bottom: none; */
    gap: 1rem;
  }
  .footer {
    padding: 1rem 0.5rem;
  }
  .footer-grid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-text {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }
  .icon {
    font-size: 1rem;
  }
  .footer-bottom {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .social-icon {
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .footer-heading > li > a > svg {
    padding-top: 0.3rem;
    transition: none;
  }
}
