.footer {
  background-color: #1f2937;
  width: 100vw;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 2rem 1rem;
  /* gap: 1rem; */
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: bold;
  /* padding-bottom: 1rem; */
  color: white;
}

.footer-contact,
.footer-social {
  color: #d1d5db;
  align-content: center;
}
.footer-contact > .footer-heading {
  padding: 0.5rem 0;
}
.footer-social > .footer-heading {
  padding-bottom: 1rem;
  text-align: center;
}
.footer-social {
  justify-items: center;
}
.footer-contact {
  /* margin-left: 4rem; */
  justify-items: start;
}

.footer-text {
  color: #d1d5db;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.social-icons > li > a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: #354051;
  }
}

.icon {
  font-size: 1.1rem;
}

.facebook {
  color: #38bdf8;
}

.twitter {
  color: #38bdf8;
}

.instagram {
  color: #f97316;
}

.github {
  color: #f97316;
}

.social-link {
  color: #d1d5db;
  text-decoration: none;
  font-size: 1rem;
}

/* .social-link:hover {
  text-decoration: underline;
} */

.footer-bottom {
  border-top: 1px solid #4b5563;
  padding: 0.7rem;
  text-align: center;
  margin-top: 1rem;
  color: #d1d5db;
  font-size: 0.95rem;
}

/* Mobile optimization */
@media screen and (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1.5rem;
    gap: 1rem;
  }
  .footer {
    padding: 1rem 0.5rem;
  }
  .footer-heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .footer-text {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }
  .icon {
    font-size: 1rem;
  }
  .footer-bottom {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 0.7rem;
  }
  .social-icons {
    gap: 0.5rem;
  }
}
