.card-container {
  /* ADDED code */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 1.5rem;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
    background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
    z-index: -1;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover::before {
    height: 100%;
  }

  &:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
}

.profile-card {
  width: min(19rem, 78vw);
  height: min(23rem, 85vw);

  padding: 2rem 0;
  border-radius: 1.5rem;
  text-align: center;

  border: 10px solid rgb(0, 30, 255);
  border-top: none;
  border-left: none;
  border-right: none;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;

  &:hover {
    border-color: #30cfd0;
    color: white;
  }
  display: -ms-flexbox;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;

  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1rem; */
  position: relative;
}

.avatar {
  width: min(120px, 30vw);
  height: min(120px, 30vw);

  border-radius: 50%;
  border: 3px solid #3f3fff;
  outline: 3px solid gold;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.name {
  font-size: min(1.5rem, 35vw);
  font-weight: 700;
  padding: 0 2rem;
  /* margin-top: 1rem; */
}

.title {
  font-size: 1rem;

  /* margin-bottom: 1rem; */
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
  width: 80%;
  font-size: min(1.5rem, 6vw);
}

.social-icons > a {
  transition: transform 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
    color: rgb(159, 228, 255);
  }
}

@media screen and (max-width: 600px) {
  .profile-card {
    padding: 1rem 0;
    gap: 0.8rem;
  }
  .social-icons {
    width: 80%;
    justify-content: space-evenly;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 700;
    /* padding: 0 1rem; */
  }
  .title {
    font-size: medium;
  }
}
